version: '3.8'

services:
  db:
    image: postgres:14-alpine
    
    restart: always
    
    environment:
      POSTGRES_DB: music_db       
      POSTGRES_USER: user         
      POSTGRES_PASSWORD: password 
      
    ports:
      - "5433:5432" 
      
    volumes:
      - postgres_data:/var/lib/postgresql/data
      
volumes:
  postgres_data:
